
body {
    margin: 0;
    background-color: transparent;
    display: flex;
}

.header {
    color: #000000;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
   /* width: calc(100% - 250px);  Ajusta el ancho para considerar la barra lateral */
    z-index: 1000;
    background-color: white;
    top: 1;

}

.header .search-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 22px;
    padding: 5px;
}

.header .search-container input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    color: #000000;
    outline: none;
    width: 100%;
}

.header .search-container .search-icon {
    font-size: 24px;
    cursor: pointer;
    color: #bbb;
}



.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.493);
    z-index: -1;
    top: 0;left: 0;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: 17.5%;
    overflow-x: hidden;
    flex-direction: column;
    background: #b5b8b477;
    padding: 20px;
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

}

    .sidebar-header {
        display: flex; /* Usar flexbox */
        flex-direction: column; /* Alinear en columna */
        align-items: center; /* Centrar horizontalmente */
    }


    .sidebar-header img {
    width: 120px;
    align-items: center; /* Centrar los elementos horizontalmente */
    border-radius: 50%;
    }

    .sidebar-links {
        list-style: none;
        margin-top: 15px;
        height: 80%;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .sidebar-links h4 span {
        opacity: 1;

    }

    .sidebar-header h2{
        font-size: 2rem;
        font-weight: bold;
        color: #17971e;
        margin-left: 20px;
    }


    .sidebar-links h4 {
        color: #504f4f;
        font-weight: 500;
        margin: 8px 0;
        white-space: nowrap;
        position: relative;
    }
   
    .sidebar-links li a{
    color: #504f4f;
    font-weight: 600;
    display:flex;
    align-items: center;
    gap: 0 15px;
    padding: 12px 8px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 16px;
    }
   
   .sidebar-links li a:hover{
       background: #ffffff6e;
       color: #000000;
       border-radius: 4px;
   }


.main-content {
    flex: 1; /* Para ocupar el espacio restante */
    margin-left: 10%;
    margin-right: 2%; 
    z-index: 2;
    height: calc(100vh - 70px); /* Hace que el contenido ocupe el resto de la página menos la altura del header */
    overflow-y: auto; /* Permite el scroll vertical solo dentro del main-content */
}

/* Estilos responsive */
/* Ajusta el tamaño de la tarjeta en pantallas pequeñas */




/* Estilos generales (pantallas grandes) */
.sidebar {
    width: 17.5%; /* Ancho en pantallas grandes */
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 677px) {
    .sidebar {
        width: 20%; /* Cambia el ancho en pantallas pequeñas */
    }
    .main-content {
        margin-left: 30%; /* Ajusta el margen para el contenido */
        margin-top: 20%;
    }

    .admin-title{
        font-size: 20px;
        text-align: center;
        display: none;
    }

    .header{
        margin-left: 25%;
        padding-right: 20%;
        width: 100%;
        height: 5%;
    }

    .hamburger-menu{
        display: none;
    }

    .user{
        height: 45px !important;
        width: 140px !important;

        .userb{
            height: 20px !important;
        }
    }
    
}

/* Pantallas medianas (tablets) */
@media (min-width: 677px) and (max-width: 1000px) {
    .sidebar {
        width: 22%; /* Cambia el ancho en tablets */
        padding-left: 10px;
    }

    .admin-title{
        font-size: 20px;
        text-align: center;
    }
    .main-content {
        margin-top: 12%;
        margin-left: 30%; /* Ajusta el margen para el contenido */
    }
    .header{
        margin-left: 25%;
        padding-right: 25%;
    }

    .hamburger-menu{
        display: none;
    }
}

/* Pantallas grandes (escritorio) */
@media (min-width: 1001px) {
    .sidebar {
        width: 17%; /* Mantiene el ancho en pantallas grandes */
    }
    .admin-title{
        font-size: 25px;
    }
    .main-content {
        margin-left: 21%; /* Ajusta el margen para el contenido */
        margin-top: 8%;
    }
    .hamburger-menu{
        display: none;
    }

    .header{
        margin-left: 20%;
        padding-right: 5%;

    }
}
