/* styles.css */

/* Estilo general del cuerpo */
body {
    font-family: 'Work Sans', sans-serif !important;
    /*font-family: Calibri, sans-serif !important;*/
    margin: 0;
}

/* Estilo para el overlay */
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        z-index: 1040; /* Asegura que esté debajo del modal */
        visibility: hidden; /* Oculto por defecto */
        pointer-events: none; /* Evita interacciones */
    }
    #overlay.show {
    visibility: visible;
    pointer-events: auto; /* Habilita interacciones solo cuando se muestre */
    }
  
/* Fondo verde semitransparente 
.overlay {
    position: fixed; /* Cambia a fixed para cubrir toda la ventana    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 160, 22, 0.459); /* Verde con 50% de opacidad 
    z-index: 1; /* Asegura que la superposición esté encima de la imagen 
    pointer-events: none; /* Permite que los clics pasen a través del overlay 
}

.modal-backdrop {
    background-color: rgba(30, 180, 24, 0.911); /* Cambia el 0.5 por la opacidad deseada 
}*/

.modal {
    z-index: 5; /* Asegura que el modal esté encima de todo */
}

/* Sección carousel 
    .carousel-section {
        position: relative;
        height: 100vh; /* Ocupa toda la altura de la ventana 
        width:auto;
        color: white;
        display: flex;

    }

    .carousel-content{
        height: 100vh; /* Ocupa toda la altura de la ventana 
        width: 100%;
        position: relative;
        z-index: 2; /* Asegura que el texto esté encima de la superposición 


    }

    .carousel-section .navbar{
        align-items:normal;
        justify-content: 0;
        text-align: 0;
        z-index: 2; /* Asegura que el texto esté encima de la superposición 

    }

    #carouselBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /* Ocupa toda la altura de la ventana 
        z-index: -1; /* Asegura que el carrusel esté detrás del contenido 
    }

    .carousel-inner img {
        object-fit: cover; /* Asegura que las imágenes cubran todo el área sin distorsionarse 
        height: 100vh; /* Ocupa toda la altura de la ventana 
    }*/

/* Botón de desplazamiento 
.scroll-down-button{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white; /* Color inicial del icono 
    text-decoration: none; /* Quita el subrayado del enlace 


 Cambia el color del icono al pasar el ratón sobre el enlace 
.scroll-down-button:hover i {
    color: rgb(35, 199, 29); /* Color del icono al pasar el ratón 
}
}*/

/* Botones de inicio */
    #login{
        border-radius: 10px;
        color: #39a900;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
        padding: 10px;
        align-items: center;

        i {
            vertical-align: middle; /* Alinea verticalmente el icono */
        }
    }
    #msg{
        border-radius: 100%;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
        color: white;
        font-size: 28px;
        
    }

/* Texto del contenedor del carousel*/
.container-text{
    display: flex;
    padding-left: 15%;
    align-items: center;
    height: 100vh;
    z-index: 0; /* Asegura que el texto esté encima de la superposición */

    h1{
        text-shadow: 1.5px 1px 2px rgba(0, 0, 0, 0.8);
        font-size: 4vw; /* Tamaño relativo a la ventana de visualización */

        
    }

    img{
        /*box-shadow: 2px 2px 5px rgba(0.3, 0, 0, 0.2); */
        border-radius: 50%;
        padding: 10px;
    }

}

/* Sección con contenido largo */
.section1 {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta según tus necesidades */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    overflow: hidden;
}

.section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Asegúrate de que el fondo esté detrás del contenido */
    animation: fadeInOut 5s infinite, changeImages 15s infinite; /* Aplica ambas animaciones */
    /*animation: fadeInOut 3s infinite, changeImages 9s infinite; /* Aplica ambas animaciones */
}

.content-wrapper {
    z-index: 1;
    position: relative;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow: auto; /* Permite el scroll del contenido */
}

.text-content {
    color: white;
    width: 100%;
    height: 90; /* Ocupa toda la altura disponible */
    overflow: auto; /* Permite el scroll dentro del texto */
}

.left-content, .right-content {
    flex: 1;
    padding: 20px;
}

.divider {
    width: 2px; /* Grosor de la barra divisoria */
    background-color: #ccc; /* Color de la barra divisoria */
    height: auto; /* Ajusta la altura automáticamente según el contenido */
    align-self: stretch; /* Estira la barra para que ocupe toda la altura del contenido */
}

.content-container {
    display: flex;
    width: 100%;
    max-width: 100%; 
    color: #5b6357 !important;

}

/*Seccion con cards*/
.container-card{
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    
}


.card-body {
    position: relative; /* Necesario para que el contenido se posicione correctamente sobre la imagen */
    z-index: 1; /* Asegura que el contenido esté encima de la imagen de fondo */
    color: #fff; 
    background: rgba(0, 0, 0, 0.7);
    align-content: end;
}

.bodyg {
    flex: 1; /* Hace que el card-body ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column; /* Asegura que los elementos dentro del card-body se coloquen en columna */
    justify-content: flex-end; /* Alinea el contenido al final del card-body */
    padding: 0; /* Espaciado interno para el contenido de la tarjeta */
    color: white; /* Color de texto blanco para contraste */
    border-radius: 15px; /* Redondear las esquinas del contenido de la tarjeta */
}

.card-title{
    color: white;
}

/* seccion informacion e imagen circular*/
.container-info{
    text-align: justify;
    color:  #5b6357 !important;

}

.row2{
    text-align: justify;
    color:  #5b6357 !important;

}

.img-circle {
    border-radius: 50%;
    width: 200px; /* Ajusta el tamaño según necesites */
    height: 200px; /* Ajusta el tamaño según necesites */
    object-fit: cover;
}


/*Estilos modales*/
/*Modal Login*/

.modal-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Color negro semi-transparente */
    z-index: 2; /* Se asegura de que esté detrás del contenido */
    border-radius: 2rem;
}

.modal-content .modal-body, .modal-content .modal-header, .modal-content .modal-footer {
    position: relative;
    z-index: 2; /* Se asegura de que el contenido esté encima del pseudo-elemento */
}

.modal-footer .btn {
    border-radius: 0.25rem; /* Bordes redondeados para el botón */
}

#login2{
    border-radius: 10px;
    background-color: #39a900;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 10px;
    align-items: center;

}

#register{
    border-radius: 10px;
    background-color: #39a900;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 10px;
    align-items: center;

}

#code{
    border-radius: 10px;
    background-color: #39a900;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 10px;
    align-items: center;

}


#herramientasContainer{
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
}



/* Ajusta el tamaño de la tarjeta en pantallas pequeñas */
@media (min-width: 300px) and (max-width: 676px) {
    .container-text {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra la imagen y el texto horizontalmente */
        justify-content: center;
    }
    
    .container-text img {
        width: 48%;
        height: 170px;
    }
    
    .container-text h1 {
        font-size: 30px;
        text-align: center; /* Centra el texto */
    }
    .scroll-down-button{
        font-size: 3.8rem;
    }
    
/* Seccion información */
    .content-container {
        flex-direction: column; /* Apila los contenidos verticalmente */
    }

    .left-content, .right-content {
        width: 100%; /* Asegura que cada contenido ocupe todo el ancho disponible */
        padding-top: 50px;

        h1{
            text-align: center;
        }
    }
    .left-content{
        padding-top: 20px;
    }
    .text-content {
        padding: 10px; /* Ajusta el padding según sea necesario */
    }

/*Informacion img circular*/
    .col-md-12 {
        flex: 0 0 100%;
        text-align: justify;
        max-width: 100%;
    }

    .container-info .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;

        h2{
            text-align: center;
        }
        img{
            margin-bottom: 6%;
        }
        p{
            font-size: 16px !important;
        }
        
    }

    .row2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;

        padding-left: 10px;
        
        img{
            margin-top: 5%;
        }
        h2{
            margin-top: 10%;
            text-align: center;
        }
        p{
            font-size: 16px !important;
        }
    }

/*Cards*/
    .container-card{
        margin-top: 30%;
        margin-bottom: 10px;
    }

    .text-content{
        padding: 0% !important;
    }

    #toolModal{
        .modal-dialog{
            max-width: 100%;
            padding: 10px !important;
            
        }
        .modal-body{
            max-height: 500px !important;
            padding: 0 !important;
        }
        .modal-content{
            background-color: transparent;
        }

        .modal-content::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent !important;
            z-index: 2; /* Se asegura de que esté detrás del contenido */
            border-radius: 2rem;
        }
    }

    #modalCarousel{
        .modal-content{
            background-color: transparent;
            color: #39a900;
            margin: 10px !important;
        }

        .modal-content::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent !important;
            z-index: 2; /* Se asegura de que esté detrás del contenido */
            border-radius: 2rem;
        }
    }

    
    #herramientasContainer{
        padding-top: 20px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    #fondo{
        height: 40vh !important;
        border-bottom-left-radius: 0%; 
        border-bottom-right-radius: 55%;
    }

    #bienv{
        margin-left: 10px;
        padding-right: 50px ;

    }

    #bienvh{
        margin-top: 20%;
        padding-right: 50px ;

    }


}
/* Ajusta el tamaño de la tarjeta en pantallas medianas */
@media (min-width: 677px) and (max-width: 1000px) {
    .container-text {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra la imagen y el texto horizontalmente */
        justify-content: center;
    }
    
    .container-text img {
        width: 36%;
        height: 230px;
    }
    
    .scroll-down-button{
        font-size: 4rem;
    }
    .container-text h1{
        text-align: center; /* Centra el texto */
        font-size: 45px;
    }

    .right-content {
        width: 100%; /* Asegura que cada contenido ocupe todo el ancho disponible */

        h1{
            text-align: center;
            padding-bottom: 20px;
        }
    }

    .container-info{
        padding: 20px;

        h2{
            margin-top: 5%;
            text-align: center;
        }
    }

    .row2{
        padding: 20px;
        h2{
            margin-top: 5%;
            text-align: center;
        }

        img{
            margin-bottom: 15%;
        }
    }
    .container-card{
        margin-bottom: 50px;
    }

    .text-content{
        padding: 0 !important;
    }
    #toolModal{
        .modal-dialog{
            max-width: 92%;
        }
        .modal-body{
            max-height: 500px !important;
        }
        .modal-content{
            background-color: transparent;
        }

        .modal-content::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent !important;
            z-index: 2; /* Se asegura de que esté detrás del contenido */
            border-radius: 2rem;
        }
    }

    #modalCarousel{
        .modal-dialog{
            max-width: 90%;
        }
        .modal-content{
            background-color: transparent;
            color: #39a900;
        }

        .modal-content::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent !important;
            z-index: 2; /* Se asegura de que esté detrás del contenido */
            border-radius: 2rem;
        }
    }

    #herramientasContainer{
        padding-top: 20px;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    #fondo{
        height: 50vh !important;
        border-bottom-left-radius: 2%; 
        border-bottom-right-radius: 55%;
    }

    #bienv{
        margin-left: 20px;
        margin-right: 10px;

    }
    #bienvh{
        margin-top: 140px;

    }
    #carouselExample{
        padding-top: 50px;
    }

    
    
}

@media (min-width: 1001px) {
    .container-text img{
        width: 30%;
        height: 100x;
        margin-left: 6%;
    }
    .container-text h1{
        margin-left: 4%;
        font-size: 60px;
    }

    .container-info{
        padding-top: 10px;
        padding-left: 50px;  /* Padding izquierdo */
        padding-right: 50px; /* Padding derecho */
        padding-bottom: 20px; /* Padding derecho */

        
    }

    .row2{
        padding-left: 70px;  /* Padding izquierdo */
        padding-right: 50px; /* Padding derecho */
        padding-bottom: 100px; /* Padding derecho */
    }

    .container-card{
        position: relative;
        padding-left: 90px;
        padding-right: 90px;
        width: 100%;
        padding-top: 60px;
        
    }

    .content-container{
        padding-top: 20px !important;
    }

    /*Modal Login*/
    .modal-content{
    margin-left: 140px;
    margin-right: 140px;
    padding-left: 15px;
    padding-right: 15px;
    }

    #toolModal{
        .modal-dialog{
            max-width: 100%;
        }
        .modal-content{
            background-color: transparent;
        }

        .modal-content::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent !important;
            z-index: 2; /* Se asegura de que esté detrás del contenido */
            border-radius: 2rem;
        }
    }

    #fondo{
        height: 70vh !important;
        border-bottom-left-radius: 2%; 
        border-bottom-right-radius: 55%;
    }

    #bienv{
        margin-left: 100px;
    }
    #bienvh{
        margin-top: 100px;
    }

}



